{% extends 'layout.html' %}

{% block body %}
    <h4>MongoDB Application on Accidents Dataset</h4>
     <div align="right">
            <sub>Izolda Fetko</sub>, 
            <sub>Nishad Tupe</sub>, 
            <sub>Rashmi Ray</sub>
     </div>
     <div class="jumbotron">
        <p>Traffic accidents take thousands of lives a year, while keeping survivors injured, disabled, and traumatized, in many cases. In order to prevent these occurrences, and decrease the overall traffic accident rate, governments are actively seeking ways of analyzing historical traffic data that will help them establish proactive preventive measures. Our project focuses on providing these types of insights by housing the historical traffic data in MongoDB, exploring the data using Tableau visualization tool, and analyzing data using Python programming language, with help of PyMongo distribution. </p>
    </div>
    
{% endblock %}
